@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Pacifico:wght@400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

html,
body,
#__next {
  background-color: #202336;
  height: 100%;
  width: 100%;
  position: relative;
}

.game-name {
  font-family: 'Pacifico', cursive;
}

input {
  /* # unset */
  border: none;
  outline: none;
  background-color: transparent;
}
